html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  background: #fdfbf2;
  font-size: 62.5%;
  font-family: "Crimson Text", serif;
  margin: 0 auto;
  color: #393737;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}

@font-face {
  font-family: Chomsky;
  src: url("fonts/Chomsky.otf") format("opentype");
}

#header {
  display: grid;
  grid-area: header;
  font-family: Chomsky;
  text-align: center;
  justify-items: center;
  background: #c7eeff;
  border-bottom: 1px solid #393737;
  height: 100%;
}

h1 {
  margin-bottom: 0;
  font-size: 370%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 #fdfbf2, 1px -1px 0 #fdfbf2, -1px 1px 0 #fdfbf2,
      1px 1px 0 #fdfbf2;
}

h2 {
  font-family: "Crimson Text", serif;
  font-size: 244%;
  margin-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  grid-area: main;
  font-size: 1.8em;
  width: 100%;
  min-width: 375px;
}

#card-holder {
  grid-area: main;
}

form {
  margin: 1em 15%;
}

input {
  font-family: "Crimson Text", serif;
  color: #393737;
  width: 96%;
  margin: 0.3em 0 0.5em 0;
  padding: 0.5em;
  font-size: 1em;
  border: solid 1px #393737;
  border-radius: 0.5em;
}

button {
  margin: 1em 0;
  padding: 0.5em;
  font-family: "Crimson Text", serif;
  color: #393737;
  font-size: 1em;
  border: solid 1px #393737;
  border-radius: 0.5em;
  background-color: #f1fcfd;
  transition: background-color 0.5s;
}

#search {
  margin-top: 0.5em;
  padding: 5px 10px;
}

.card {
  width: 92%;
  font-size: 1.8em;
  margin: 0.5em;
  margin-bottom: 0;
  padding: 0.5em;
  border: solid 1px #393737;
  border-radius: 5px;
  background-color: #f1fcfd;
  transition: background-color 0.5s;
}

#clear {
  margin: 0.5em 0.5em 1em;
  font-size: 1.5em;
}

#footer {
  grid-area: footer;
  background-color: #4d6de3;
  border-top: 2px solid #393737;
}
/* ------ media queries ------ */

@media (min-width: 900px) {
  .card:hover {
    background-color: #c7eeff;
    color: #4d6de3;
    cursor: pointer;
  }

  button:hover {
    background-color: #c7eeff;
  }
}

@media only screen and (max-width: 1024px) {
  .parent {
    grid-template-rows: 1fr 6fr 0.5fr;
  }

  form {
    margin: 1em 0;
  }

  #start,
  #end {
    display: block;
  }
}

@media only screen and (max-width: 414px) {
  body {
    background: #fdfbf2;
  }

  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    /* width: 100%; */
    height: 100%;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  #header {
    background: none;
    border: none;
    margin-right: 1.5em;;
  }

  h1 {
    font-size: 325%;
    margin: 0.1em 0 0;
    text-shadow: -1px -1px 0 #c7eeff, 1px -1px 0 #c7eeff, -1px 1px 0 #c7eeff,
      1px 1px 0 #c7eeff;
  }

  h2 {
    margin-bottom: 0;
  }

  form {
    margin: 1em 3%;
  }

  input {
    width: 90%;
  }

  .card {
    font-size: 1.5em;
  }

  #footer {
    background: #c7eeff;
  }
}
